nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px  200px;

}
nav > ul{
    display: flex;
    align-items: center
}
nav li{
    list-style: none;
   margin-right: 51px;
}
a{
   text-decoration: none;
   color: black;
}
nav h3{
    font-size: 48px;
    font-weight: bold;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: tomato;
}
.org{
  /* width: 110px; */
  /* height: 35px; */
  font-size: 20px;
  font-weight: 700;
  padding: 17px 18px;
  border: 0px;
  background-color: tomato;
  border-radius: 5px;
  color: azure;
}
.head{
    background-color: #fff8f9;
    background-image: url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: bottom right ;
    
}
.ban{
    padding: 30px 30px 0px 200px;
    display: flex; 
    justify-content: space-between;
    align-items: center;

}
.pic{
    width: 500px;
}
.hi{
    font-size: 30px;
   color: rgba(0, 0, 0, 0.623);
}
.sul{
    font-size: 48px;
    color: rgba(0, 0, 0, 0.774);
}
p{
    font-size: 16px;
    margin-bottom: 50px;
}

.o{
    /* width: 110px; */
    /* height: 35px; */
    font-size: 20px;
    font-weight: 700;
    padding: 17px 18px;
    border: 1px solid tomato ;
    background-color: white;
    border-radius: 5px;
    color: tomato;
    margin-left: 20px;
  }

.about{
    background-color: #fff8f3;
    margin-top: 150px;
    border: 5px solid white;
}
.me{
  text-align: center; 
  padding-top: 60px;
  font-size: 35px;
  font-weight: 700; 
}    

.txt{
    text-align: center;
    padding:0px 150px; 
    /* color: rgba(117, 117, 117, 1); */
    color: green;
    font-size: 18px
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
.all{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-inf{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.582);
    text-align: center;
}
.name-text{
   font-weight: bold;
}
.skille{
    display: flex;
    gap: 20px; 
}
.skills{
    padding: 30px;
    border-radius: 3px;
    background-color: #fff8f9;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.known,.pra {
    color: rgba(1, 117, 1, 0.719);
    font-size: 18px;
}
.title-name{
    color: tomato;
    font-size: 22px;
}
main section{
    margin-top: 130px;
}
.resume{
    display: flex;
    gap: 50px;
}
.pass{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.658);
}
.bsc{
    font-size: 25px;
}
.cv{
    margin-top: 50px;
    text-align: center;
}
.education{
    font-size: 30px;
}
footer{
    background-color: #fff8f3;
    display: flex;
    padding: 130px 200px;
    margin-top: 120px;
    gap: 100px ;
}
.text-mesg{
    width: 50%;
}
.icon-fti a{
 margin-right: 30px;

}    
.text_area input, textarea{
    display: flex;
    padding: 18px 35px;
    margin-bottom: 20px;
    width: 100%;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    border: 0;
}